<% provide(:title, 'Help') %>
<div>
	<h1>Help</h1>
	<p>
		If you want to view the code you can download the <a href="https://github.com/VictorGuzman/supershoes">repository</a> and follow the instructions to get it running in your local system.
	</p>
	<%= link_to "Download Repository", 'https://github.com/VictorGuzman/supershoes', class: "btn btn-small btn-primary" %>
</div>
