<div class="center">
	<h1> Welcome to Supershoes</h1>
	<p>
		This is an exercise <a href="http://rubyonrails.org/">Ruby on Rails</a> app. Its only pourpose is to show Ruby on Rails functionality in a fake Supershoes store and to test JSON based RESTful responses. This is a deployed version of the proyect using <a href="https://www.heroku.com/">Heroku</a>. If you want to view the code you can download the <a href="https://github.com/VictorGuzman/supershoes">repository</a> and follow the instructions to get it running in your local system.
	</p>
	<%= link_to "Download Repository", 'https://github.com/VictorGuzman/supershoes', class: "btn btn-small btn-primary" %>
</div>
<%= link_to image_tag("supershoes.png", alt: "Supershoes"), '#' %>
